#app-view {
  width: 100%;
  height: 100%;
  background: url(/images/map.jpg) center center no-repeat;
  position: relative;
  color: white;
  font-family: 'Allan', arial, serif;
  text-shadow: 2px 2px 0 black;
  -webkit-font-smoothing: antialiased;

  &.choose {
    img.logo {
      -webkit-transition: all 300ms;
      -webkit-transition-delay: 500ms;
      top: 20%;
      -webkit-transform: scale(.85);
    }
    p.loading {
      -webkit-transition: opacity 500ms;
      opacity: 0;
    }
  }
  
  .overlay {
    position: absolute;
    background: rgba(0,0,0,.85);
    width: 100%;
    height: 100%;
  }
  
  img.logo {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -156px;
    margin-top: -107px;
  }
  
  p.loading {
    position: absolute;
    text-align: center;
    top: 60%;
    width: 100%;
    font-size: 32px;
    font-weight: normal;
  }
}
